.title {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    height: 30vh;
  }
  .title {
    font-size: 11vw;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search {
  width: 100%;
}